<a href="https://colab.research.google.com/github/byronacunia/UFCA_estudo_mercado_livre/blob/main/UFCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analise Mercado Cativo

## Passo 1: Definição do tipo de Contrato

*   **Tipo de Contrato:** Vigencia única (Flat)
*   **Tipo de Consumidor:** Especial
*   **Energia Incentivada:** 50%, 80%, 100%

## Passo 2: Cálculo do valor da TUSD no cativo

![image.png]()

![image.png]()

In [1]:
!git clone https://github.com/byronacunia/UFCA_estudo_mercado_livre.git

Cloning into 'UFCA_estudo_mercado_livre'...
remote: Enumerating objects: 48, done.
remote: Counting objects: 100% (48/48), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 48 (delta 13), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (48/48), done.

In [2]:
import pandas as pd

In [3]:
abas_de_excel =  pd.ExcelFile("/content/UFCA_estudo_mercado_livre/Raw Data/UFCA.xlsx")
abas_de_excel.sheet_names

['Apresentação', 'UC1', 'UC2', 'UC3', 'UC4']

In [4]:
UC1 = abas_de_excel.parse("UC1")
UC2 = abas_de_excel.parse("UC2")
UC3 = abas_de_excel.parse("UC3")
UC4 = abas_de_excel.parse("UC4")

In [5]:
demanda_contratada_UC1 = 139 #[kW]
demanda_contratada_UC2 = 160 #[kW]
demanda_contratada_UC3 = 600 #[kW]
#Tarifas de consumo e usos
Tarifa_total_FP=0.40733
Tarifa_total_P=1.81318
TUSD_FP=Tarifa_total_FP*0.22
TUSD_P=Tarifa_total_P*0.74
TE_FP=Tarifa_total_FP-TUSD_FP
TE_P= Tarifa_total_P-TUSD_P
RetencaoFederal=0.0620

In [6]:
X1 = UC1[UC1['ANO']==2019][['MÊS','ENERGIA_PONTA', 'ENERGIA_FPONTA', 'DEMANDA_REGISTRADA_P', 'DEMANDA_REGISTRADA_FP', 'DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS']]
X1[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']] = X1[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']].fillna(0)
X1[['Differença Demanda']] = X1[['DEMANDA_REGISTRADA_FP']] - demanda_contratada_UC1
X1[['Valor Demanda']] = (X1['DEMANDA_REGISTRADA_FP'] * X1['TAR_TUSD_KW_FP']) +(X1['Differença Demanda'] *-1* X1['TAR_DEMANDA_FP_SEM ICMS'])
X1[['Valor Consumo P+FP TUSD']] = (TUSD_FP*X1['ENERGIA_FPONTA'])+(TUSD_P*X1['ENERGIA_PONTA'])
X1[['Valor Consumo TE']] = (TE_FP*X1['ENERGIA_FPONTA'])+(TE_P*X1['ENERGIA_PONTA'])
X1[['Valor da conta no cativo']] = (X1['Valor Demanda']+X1['Valor Consumo P+FP TUSD']+X1['Valor Consumo TE'])-((X1['Valor Demanda']+X1['Valor Consumo P+FP TUSD']+X1['Valor Consumo TE'])*RetencaoFederal)
X1[['Valor consumo TUSD_P']]= (TUSD_P*X1['ENERGIA_PONTA'])
X1[['Valor consumo TUSTA'])
TOTAL_VALOR_DEMANDA_UC1 = X1[D_FP']]= (TUSD_FP*X1['ENERGIA_FPON'Valor Demanda'].sum()
TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC1 = X1['Valor Consumo P+FP TUSD'].sum()
TOTAL_VALOR_CONSUMO_TE_UC1 = X1['Valor Consumo TE'].sum()
TOTAL_CONTA_CATIVO_UC1 = X1['Valor da conta no cativo'].sum()
TOTAL_VALOR_CONSUMO_TUSD_P_UC1 = X1['Valor consumo TUSD_P'].sum()
TOTAL_VALOR_CONSUMO_TUSD_FP_UC1 = X1['Valor consumo TUSD_FP'].sum()
X1

SyntaxError: ignored

In [ ]:
print(TOTAL_VALOR_DEMANDA_UC1)
print(TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC1)
print(TOTAL_VALOR_CONSUMO_TE_UC1)
print(TOTAL_CONTA_CATIVO_UC1) 
print(TOTAL_VALOR_CONSUMO_TUSD_P_UC1) 
print(TOTAL_VALOR_CONSUMO_TUSD_FP_UC1)

In [ ]:
X2 = UC2[UC2['ANO']==2019][['MÊS','ENERGIA_PONTA', 'ENERGIA_FPONTA', 'DEMANDA_REGISTRADA_P', 'DEMANDA_REGISTRADA_FP', 'DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS']]
X2[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']] = X2[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']].fillna(0)
X2[['Differença Demanda']] = X2[['DEMANDA_REGISTRADA_FP']] - demanda_contratada_UC2
X2[['Valor Demanda']] = (X2['DEMANDA_REGISTRADA_FP'] * X2['TAR_TUSD_KW_FP']) +(X2['Differença Demanda'] *-1* X2['TAR_DEMANDA_FP_SEM ICMS'])
X2[['Valor Consumo P+FP TUSD']] = (TUSD_FP*X2['ENERGIA_FPONTA'])+(TUSD_P*X2['ENERGIA_PONTA'])
X2[['Valor Consumo TE']] = (TE_FP*X2['ENERGIA_FPONTA'])+(TE_P*X2['ENERGIA_PONTA'])
X2[['Valor da conta no cativo']] = (X2['Valor Demanda']+X2['Valor Consumo P+FP TUSD']+X2['Valor Consumo TE'])-((X2['Valor Demanda']+X2['Valor Consumo P+FP TUSD']+X2['Valor Consumo TE'])*RetencaoFederal)
X2[['Valor consumo TUSD_P']]= (TUSD_P*X2['ENERGIA_PONTA'])
X2[['Valor consumo TUSD_FP']]= (TUSD_FP*X2['ENERGIA_FPONTA'])
TOTAL_VALOR_DEMANDA_UC2 = X2['Valor Demanda'].sum()
TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC2 = X2['Valor Consumo P+FP TUSD'].sum()
TOTAL_VALOR_CONSUMO_TE_UC2 = X2['Valor Consumo TE'].sum()
TOTAL_CONTA_CATIVO_UC2 = X2['Valor da conta no cativo'].sum()
TOTAL_VALOR_CONSUMO_TUSD_P_UC2 = X2['Valor consumo TUSD_P'].sum()
TOTAL_VALOR_CONSUMO_TUSD_FP_UC2 = X2['Valor consumo TUSD_FP'].sum()
X2=X2.fillna(0)
X2

In [ ]:
print(TOTAL_VALOR_DEMANDA_UC2)
print(TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC2)
print(TOTAL_VALOR_CONSUMO_TE_UC2)
print(TOTAL_CONTA_CATIVO_UC2) 
print(TOTAL_VALOR_CONSUMO_TUSD_P_UC2) 
print(TOTAL_VALOR_CONSUMO_TUSD_FP_UC2)

In [ ]:
X3 = UC3[UC3['ANO']==2019][['MÊS','ENERGIA_PONTA', 'ENERGIA_FPONTA','DEMANDA_CONTRATADA_P', 'DEMANDA_REGISTRADA_P', 'DEMANDA_REGISTRADA_FP', 'DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS']]
X3[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']] = X3[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']].fillna(0)
X3[['Differença Demanda']] = X3['DEMANDA_REGISTRADA_FP'] - X3['DEMANDA_CONTRATADA_P']
X3[['Valor Demanda']] = (X3['DEMANDA_REGISTRADA_FP'] * X3['TAR_TUSD_KW_FP']) +(X3['Differença Demanda'] *-1* X3['TAR_DEMANDA_FP_SEM ICMS'])
X3[['Valor Consumo P+FP TUSD']] = (TUSD_FP*X3['ENERGIA_FPONTA'])+(TUSD_P*X3['ENERGIA_PONTA'])
X3[['Valor Consumo TE']] = (TE_FP*X3['ENERGIA_FPONTA'])+(TE_P*X3['ENERGIA_PONTA'])
X3[['Valor da conta no cativo']] = (X3['Valor Demanda']+X3['Valor Consumo P+FP TUSD']+X3['Valor Consumo TE'])-((X3['Valor Demanda']+X3['Valor Consumo P+FP TUSD']+X3['Valor Consumo TE'])*RetencaoFederal)
X3[['Valor consumo TUSD_P']]= (TUSD_P*X3['ENERGIA_PONTA'])
X3[['Valor consumo TUSD_FP']]= (TUSD_FP*X3['ENERGIA_FPONTA'])
TOTAL_VALOR_DEMANDA_UC3 = X3['Valor Demanda'].sum()
TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC3 = X3['Valor Consumo P+FP TUSD'].sum()
TOTAL_VALOR_CONSUMO_TE_UC3 = X3['Valor Consumo TE'].sum()
TOTAL_CONTA_CATIVO_UC3 = X3['Valor da conta no cativo'].sum()
TOTAL_VALOR_CONSUMO_TUSD_P_UC3 = X3['Valor consumo TUSD_P'].sum()
TOTAL_VALOR_CONSUMO_TUSD_FP_UC3 = X3['Valor consumo TUSD_FP'].sum()
X3

In [ ]:
print(TOTAL_VALOR_DEMANDA_UC3)
print(TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC3)
print(TOTAL_VALOR_CONSUMO_TE_UC3)
print(TOTAL_CONTA_CATIVO_UC3) 
print(TOTAL_VALOR_CONSUMO_TUSD_P_UC3) 
print(TOTAL_VALOR_CONSUMO_TUSD_FP_UC3)

In [ ]:
X4 = UC4[UC4['ANO']==2019][['MÊS','ENERGIA_PONTA', 'ENERGIA_FPONTA','DEMANDA_CONTRATADA_P', 'DEMANDA_REGISTRADA_P', 'DEMANDA_REGISTRADA_FP', 'DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS']]
X4[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']] = X4[['DEMANDA_ULTRAPASSAG', 'TAR_ULTRAPASSAG', 'TAR_DEMANDA_FP_SEM ICMS']].fillna(0)
X4[['Differença Demanda']] = X4['DEMANDA_REGISTRADA_FP'] - X4['DEMANDA_CONTRATADA_P']
X4[['Valor Demanda']] = (X4['DEMANDA_REGISTRADA_FP'] * X4['TAR_TUSD_KW_FP']) +(X4['Differença Demanda'] *-1* X4['TAR_DEMANDA_FP_SEM ICMS'])
X4[['Valor Consumo P+FP TUSD']] = (TUSD_FP*X4['ENERGIA_FPONTA'])+(TUSD_P*X4['ENERGIA_PONTA'])
X4[['Valor Consumo TE']] = (TE_FP*X4['ENERGIA_FPONTA'])+(TE_P*X4['ENERGIA_PONTA'])
X4[['Valor da conta no cativo']] = (X4['Valor Demanda']+X4['Valor Consumo P+FP TUSD']+X4['Valor Consumo TE'])-((X4['Valor Demanda']+X4['Valor Consumo P+FP TUSD']+X4['Valor Consumo TE'])*RetencaoFederal)
X4[['Valor consumo TUSD_P']]= (TUSD_P*X4['ENERGIA_PONTA'])
X4[['Valor consumo TUSD_FP']]= (TUSD_FP*X4['ENERGIA_FPONTA'])
TOTAL_VALOR_DEMANDA_UC4 = X4['Valor Demanda'].sum()
TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC4 = X4['Valor Consumo P+FP TUSD'].sum()
TOTAL_VALOR_CONSUMO_TE_UC4 = X4['Valor Consumo TE'].sum()
TOTAL_CONTA_CATIVO_UC4 = X4['Valor da conta no cativo'].sum()
TOTAL_VALOR_CONSUMO_TUSD_P_UC4 = X4['Valor consumo TUSD_P'].sum()
TOTAL_VALOR_CONSUMO_TUSD_FP_UC4 = X4['Valor consumo TUSD_FP'].sum()

In [ ]:
print(TOTAL_VALOR_DEMANDA_UC4)
print(TOTAL_VALOR_CONSUMO_P_FP_TUSD_UC4)
print(TOTAL_VALOR_CONSUMO_TE_UC4)
print(TOTAL_CONTA_CATIVO_UC4) 
print(TOTAL_VALOR_CONSUMO_TUSD_P_UC4) 
print(TOTAL_VALOR_CONSUMO_TUSD_FP_UC4)

In [ ]:
Total_UCs_2019 = TOTAL_CONTA_CATIVO_UC1+TOTAL_CONTA_CATIVO_UC2+TOTAL_CONTA_CATIVO_UC3+TOTAL_CONTA_CATIVO_UC4
Total_UCs_2019

## Passo 3: Parcela somente da TUSD para as 4 UCs

Existe desconto na demanda e no consumo FP para mercado livre incentivado

In [ ]:
X1=X1.reset_index()
X2=X2.reset_index()
X3=X3.reset_index()
X4=X4.reset_index()

In [ ]:
TUSD_parcela= X1['Valor Demanda']+X1['Valor Consumo P+FP TUSD']+X2['Valor Demanda']+X2['Valor Consumo P+FP TUSD']+X3['Valor Demanda']+X3['Valor Consumo P+FP TUSD']+X4['Valor Demanda']+X4['Valor Consumo P+FP TUSD']
MEDIA_TUSD_parcela=TUSD_parcela.mean()
print(MEDIA_TUSD_parcela)

In [ ]:
Conta_Total_Cativo=X1['Valor da conta no cativo']+X2['Valor da conta no cativo']+X3['Valor da conta no cativo']+X4['Valor da conta no cativo']
MEDIA_Conta_Total_Cativo=Conta_Total_Cativo.mean()
print(MEDIA_Conta_Total_Cativo)

In [ ]:
TUSD_Demanda_50parecela=(X1['Valor Demanda']+X2['Valor Demanda']+X3['Valor Demanda']+X4['Valor Demanda'])*0.5
MEDIA_TUSD_Demanda_50parecela=TUSD_Demanda_50parecela.mean()
print(MEDIA_TUSD_Demanda_50parecela)

In [ ]:
TUSD_Consumo_4855parecela=(X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])-((X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])*0.4855)+(X1['Valor consumo TUSD_P']+X2['Valor consumo TUSD_P']+X3['Valor consumo TUSD_P']+X4['Valor consumo TUSD_P'])
MEDIA_TUSD_Consumo_4855parecela=TUSD_Consumo_4855parecela.mean()
print(MEDIA_TUSD_Consumo_4855parecela)

In [ ]:
TUSD_Consumo_9711parecela=(X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])-((X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])*0.9711)+(X1['Valor consumo TUSD_P']+X2['Valor consumo TUSD_P']+X3['Valor consumo TUSD_P']+X4['Valor consumo TUSD_P'])
MEDIA_TUSD_Consumo_9711parecela=TUSD_Consumo_9711parecela.mean()
print(MEDIA_TUSD_Consumo_9711parecela)

In [ ]:
TUSD_TOTAL_50=TUSD_Demanda_50parecela+TUSD_Consumo_4855parecela
MEDIA_TUSD_TOTAL_50=TUSD_TOTAL_50.mean()
print(MEDIA_TUSD_TOTAL_50)

In [ ]:
TUSD_TOTAL_100=0+TUSD_Consumo_9711parecela
MEDIA_TUSD_TOTAL_100=TUSD_TOTAL_100.mean()
print(MEDIA_TUSD_TOTAL_100)

## Passo 4: Breakeven

In [ ]:
Consumo_Total=X1['ENERGIA_PONTA']+X1['ENERGIA_FPONTA']+X2['ENERGIA_PONTA']+X2['ENERGIA_FPONTA']+X3['ENERGIA_PONTA']+X3['ENERGIA_FPONTA']+X4['ENERGIA_PONTA']+X4['ENERGIA_FPONTA']
MEDIA_Consumo_Total=Consumo_Total.mean()
print(MEDIA_Consumo_Total)

In [ ]:
Consumo_Total

In [ ]:
Preço_energia_TE_50=Conta_Total_Cativo-TUSD_TOTAL_50
MEDIA_Preço_energia_TE_50=Preço_energia_TE_50.mean()
MEDIA_Preço_energia_TE_50_MWh=MEDIA_Preço_energia_TE_50/1000
print(MEDIA_Preço_energia_TE_50)

In [ ]:
Preço_energia_TE_100=Conta_Total_Cativo-TUSD_TOTAL_100
MEDIA_Preço_energia_TE_100=Preço_energia_TE_100.mean()
MEDIA_Preço_energia_TE_100_MWh=MEDIA_Preço_energia_TE_100/1000
print(MEDIA_Preço_energia_TE_100)

In [ ]:
BreakevenMensal_50=(Preço_energia_TE_50/(Consumo_Total/1000))
MEDIA_BreakevenMensal_50=BreakevenMensal_50.mean()
print(MEDIA_BreakevenMensal_50)

In [ ]:
BreakevenMensal_100=(Preço_energia_TE_100/(Consumo_Total/1000))
MEDIA_BreakevenMensal_100=BreakevenMensal_100.mean()
print(MEDIA_BreakevenMensal_100)

## Passo 5: Mercado Livre

In [ ]:
Valor_Energia_MWh=240
TOTAL_Valor_Energia_MWh=Valor_Energia_MWh*12
print(TOTAL_Valor_Energia_MWh)

In [ ]:
Conta_ML_50=TUSD_TOTAL_50+((Valor_Energia_MWh/1000)*Consumo_Total)
MEDIA_Conta_ML_50=Conta_ML_50.mean()
TOTAL_Conta_ML_50=Conta_ML_50.sum()
print(MEDIA_Conta_ML_50)
print(TOTAL_Conta_ML_50)

In [ ]:
Conta_ML_100=TUSD_TOTAL_100+((Valor_Energia_MWh/1000)*Consumo_Total)
MEDIA_Conta_ML_100=Conta_ML_100.mean()
TOTAL_Conta_ML_100=Conta_ML_100.sum()
print(MEDIA_Conta_ML_100)
print(TOTAL_Conta_ML_100)

## Passo 6: Consolidação dos Resutados

In [ ]:
print("Cativo = R$",Total_UCs_2019)
print("Livre 50% = R$",TOTAL_Conta_ML_50)
print("Livre 100% = R$",TOTAL_Conta_ML_100)
print("Econômia livre 50% = R$",Total_UCs_2019-TOTAL_Conta_ML_50)
print("Econômia livre 100% = R$",Total_UCs_2019-TOTAL_Conta_ML_100)

In [7]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure

In [8]:
labels = ['Cativo', 'Livre 50%', 'Livre 100%']
Resultados_2019 = [Total_UCs_2019, TOTAL_Conta_ML_50, TOTAL_Conta_ML_100]
Resultados_2020 = [938574, 801707, 60638]
Resultados_2021 = [1338574, 1301707, 80638]

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots(figsize=(15, 5))
rects1 = ax.bar(x - width/2, Resultados_2019, width/2, label='2019')
rects2 = ax.bar(x - width, Resultados_2020, width/2, label='2020')
rects3 = ax.bar(x, Resultados_2021, width/2, label='2021')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Reais')
ax.set_title('Comparação entre Mercado Cativo e Livre')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()


def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)
autolabel(rects3)

#figure(num=None, figsize=(15, 5), dpi=80, facecolor='w', edgecolor='k')
#plt.figure(figsize=(40, 20))
#fig.tight_layout()
plt.show()

NameError: ignored

In [10]:
Cativo, Livre50, Livre100 = Analise_de_Mercado_Livre(ANO = 2019, dadosDF, demanda_contratada = 139)

SyntaxError: ignored

In [12]:
def TOTAL_CONTA_CATIVO_UC(dadosDF,demanda_contratada,Tarifa_total_P , Tarifa_total_FP, RetencaoFederal ):
  TUSD_FP=Tarifa_total_FP*0.22  #22% Dado da Concecionaria a ser atualizado
  TUSD_P=Tarifa_total_P*0.74    #74% Dado da Concecionaria a ser atualizado
  TE_FP=Tarifa_total_FP-TUSD_FP
  TE_P= Tarifa_total_P-TUSD_P
  dadosDF['Differença Demanda'] = dadosDF['DEMANDA_REGISTRADA_FP'] - demanda_contratada
  dadosDF['Valor Demanda'] = (dadosDF['DEMANDA_REGISTRADA_FP'] * dadosDF['TAR_TUSD_KW_FP']) +(dadosDF['Differença Demanda'] *-1* dadosDF['TAR_DEMANDA_FP_SEM ICMS'])
  dadosDF['Valor Consumo P+FP TUSD'] = (TUSD_FP*dadosDF['ENERGIA_FPONTA'])+(TUSD_P*dadosDF['ENERGIA_PONTA'])
  dadosDF['Valor Consumo TE'] = (TE_FP*dadosDF['ENERGIA_FPONTA'])+(TE_P*dadosDF['ENERGIA_PONTA'])
  dadosDF['Valor da conta no cativo'] = (dadosDF['Valor Demanda']+dadosDF['Valor Consumo P+FP TUSD']+dadosDF['Valor Consumo TE'])-((dadosDF['Valor Demanda']+dadosDF['Valor Consumo P+FP TUSD']+dadosDF['Valor Consumo TE'])*RetencaoFederal)
  TOTAL_CONTA_CATIVO = dadosDF['Valor da conta no cativo'].sum()
  #dadosDF.head()
  return TOTAL_CONTA_CATIVO, dadosDF

In [13]:
dadosUC1 = UC1[UC1['ANO']==2019][['DEMANDA_REGISTRADA_FP','TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS', 'ENERGIA_FPONTA', 'ENERGIA_PONTA']].reset_index()
del dadosUC1['index']
dadosUC1 = dadosUC1.fillna(method='ffill')
dadosUC1

    DEMANDA_REGISTRADA_FP  TAR_TUSD_KW_FP  ...  ENERGIA_FPONTA  ENERGIA_PONTA
0                  100.80        20.00873  ...           19079           1232
1                   95.34        20.25635  ...           17637           1077
2                  109.62        19.53986  ...           17950           1120
3                  144.06        19.97938  ...           26068           2354
4                  152.46        21.00833  ...           22733           2163
5                  154.14        21.90197  ...           24845           2400
6                  137.76        21.86411  ...           22334           2316
7                   80.64        23.20945  ...           14889           1213
8                  137.76        22.18975  ...           26607           2975
9                  140.70        20.87043  ...           28142           3297
10                 164.22        20.91925  ...           27156           2913
11                 130.93        21.63072  ...           22918           2124

[12 rows x 5 columns]

In [14]:
dadosUC2 = UC2[UC2['ANO']==2019][['DEMANDA_REGISTRADA_FP','TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS', 'ENERGIA_FPONTA', 'ENERGIA_PONTA']].reset_index()
del dadosUC2['index']
dadosUC2 = dadosUC2.fillna(method='ffill')
dadosUC2

    DEMANDA_REGISTRADA_FP  TAR_TUSD_KW_FP  ...  ENERGIA_FPONTA  ENERGIA_PONTA
0                   53.00        20.00887  ...         12205.0          982.0
1                   67.62        20.25629  ...         11239.0         1046.0
2                   78.96        19.53977  ...         11988.0         1134.0
3                   84.84        19.97937  ...         15817.0         1291.0
4                   75.18        21.61586  ...         13298.0         1025.0
5                   78.12        21.90169  ...         15858.0         1470.0
6                   75.18        21.86393  ...         14605.0         1398.0
7                   75.18        21.86393  ...         14605.0         1398.0
8                   86.94        22.18979  ...         16531.0         1440.0
9                   88.62        20.87023  ...         18084.0         1516.0
10                 110.88        20.91919  ...         21564.0         1792.0
11                  79.80        21.63083  ...         14665.0         1304.0

[12 rows x 5 columns]

In [15]:
dadosUC3 = UC3[UC3['ANO']==2019][['DEMANDA_REGISTRADA_FP','TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS', 'ENERGIA_FPONTA', 'ENERGIA_PONTA']].reset_index()
del dadosUC3['index']
dadosUC3 = dadosUC3.fillna(method='ffill')
dadosUC3

    DEMANDA_REGISTRADA_FP  TAR_TUSD_KW_FP  ...  ENERGIA_FPONTA  ENERGIA_PONTA
0                  283.00        20.00887  ...           66179           7760
1                  297.36        20.25639  ...           53186           4205
2                  346.08        19.53988  ...           63699           5139
3                  451.92        19.97940  ...           85351          13212
4                  458.64        21.21095  ...           80797          12105
5                  443.52        21.90197  ...           97228          15548
6                  425.04        21.86418  ...           85691          12686
7                  295.68        23.20965  ...           57686           6234
8                  515.76        22.18978  ...           99003          15640
9                  614.88        20.87050  ...          115664          17746
10                 651.84        20.91934  ...          135194          20367
11                 419.48        21.63083  ...           83691          11665

[12 rows x 5 columns]

In [16]:
dadosUC4 = UC4[UC4['ANO']==2019][['DEMANDA_REGISTRADA_FP','TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS', 'ENERGIA_FPONTA', 'ENERGIA_PONTA']].reset_index()
del dadosUC4['index']
dadosUC4 = dadosUC4.fillna(method='ffill')
dadosUC4

    DEMANDA_REGISTRADA_FP  TAR_TUSD_KW_FP  ...  ENERGIA_FPONTA  ENERGIA_PONTA
0                   13.00        20.09230  ...          2733.0          284.0
1                   37.97        20.25652  ...          3481.0          374.0
2                   58.63        19.54000  ...          6014.0          888.0
3                   72.91        19.97929  ...          7402.0         2318.0
4                   55.78        21.69649  ...          6852.0         2042.0
5                   59.14        21.90176  ...          7871.0         2359.0
6                   49.39        21.86394  ...          6540.0         1940.0
7                   50.57        23.20921  ...          4187.0          877.0
8                   75.93        22.18965  ...          7123.0         2559.0
9                   85.35        20.87030  ...          9308.0         3244.0
10                  95.08        20.91933  ...         10486.0         3898.0
11                  55.14        21.63040  ...          6159.0         1751.0

[12 rows x 5 columns]

In [17]:
TOTAL_CONTA_CATIVO_UC1, dadosUC1 = TOTAL_CONTA_CATIVO_UC(dadosUC1,demanda_contratada = 139,Tarifa_total_P=1.81318, Tarifa_total_FP = 0.40733, RetencaoFederal = 0.0620)
TOTAL_CONTA_CATIVO_UC1

177881.59051655576

In [18]:
TOTAL_CONTA_CATIVO_UC2, dadosUC2 = TOTAL_CONTA_CATIVO_UC(dadosUC2,demanda_contratada = 160,Tarifa_total_P=1.81318, Tarifa_total_FP = 0.40733, RetencaoFederal = 0.0620)
TOTAL_CONTA_CATIVO_UC2

128388.82282331842

In [19]:
TOTAL_CONTA_CATIVO_UC3, dadosUC3 = TOTAL_CONTA_CATIVO_UC(dadosUC3,demanda_contratada = 600,Tarifa_total_P=1.81318, Tarifa_total_FP = 0.40733, RetencaoFederal = 0.0620)
TOTAL_CONTA_CATIVO_UC3

764302.8261847831

In [20]:
TOTAL_CONTA_CATIVO_UC4, dadosUC4 = TOTAL_CONTA_CATIVO_UC(dadosUC4,demanda_contratada = 150,Tarifa_total_P=1.81318, Tarifa_total_FP = 0.40733, RetencaoFederal = 0.0620)
TOTAL_CONTA_CATIVO_UC4

97474.8981387706

In [21]:
dadosUC4

    DEMANDA_REGISTRADA_FP  ...  Valor da conta no cativo
0                   13.00  ...               3612.062716
1                   37.97  ...               4192.039575
2                   58.63  ...               6109.725313
3                   72.91  ...               9172.139284
4                   55.78  ...               8491.453541
5                   59.14  ...               9454.574947
6                   49.39  ...               8162.294781
7                   50.57  ...               5724.978735
8                   75.93  ...               9759.992529
9                   85.35  ...              11667.804436
10                  95.08  ...              13287.415116
11                  55.14  ...               7840.417167

[12 rows x 10 columns]

In [ ]:
def Analise_de_Mercado_Livre(ANO,dadosDF,demanda_contratada):
  #X1[['Differença Demanda']] = X1[['DEMANDA_REGISTRADA_FP']] - demanda_contratada_UC1
  #X1[['Valor Demanda']] = (X1['DEMANDA_REGISTRADA_FP'] * X1['TAR_TUSD_KW_FP']) +(X1['Differença Demanda'] *-1* X1['TAR_DEMANDA_FP_SEM ICMS'])
  #X1[['Valor da conta no cativo']] = (X1['Valor Demanda']+X1['Valor Consumo P+FP TUSD']+X1['Valor Consumo TE'])-((X1['Valor Demanda']+X1['Valor Consumo P+FP TUSD']+X1['Valor Consumo TE'])*RetencaoFederal)
  #TOTAL_CONTA_CATIVO_UC1 = X1['Valor da conta no cativo'].sum()
  #Total_UCs_2019 = TOTAL_CONTA_CATIVO_UC1+TOTAL_CONTA_CATIVO_UC2+TOTAL_CONTA_CATIVO_UC3+TOTAL_CONTA_CATIVO_UC4
  Cativo = 12345 #Total_UCs_2019

  #TUSD_Demanda_50parecela=(X1['Valor Demanda']+X2['Valor Demanda']+X3['Valor Demanda']+X4['Valor Demanda'])*0.5
  TUSD_Consumo_4855parecela=(X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])-((X1['Valor consumo TUSD_FP']+X2['Valor consumo TUSD_FP']+X3['Valor consumo TUSD_FP']+X4['Valor consumo TUSD_FP'])*0.4855)+(X1['Valor consumo TUSD_P']+X2['Valor consumo TUSD_P']+X3['Valor consumo TUSD_P']+X4['Valor consumo TUSD_P'])
  TUSD_TOTAL_50=TUSD_Demanda_50parecela+TUSD_Consumo_4855parecela
  Conta_ML_50=TUSD_TOTAL_50+((Valor_Energia_MWh/1000)*Consumo_Total)
  TOTAL_Conta_ML_50=Conta_ML_50.sum()
  Livre50 = 67890 #TOTAL_Conta_ML_50
  Livre100 = 61290 #TOTAL_Conta_ML_100
  print("Cativo = R$",Cativo, "do ano = ", ANO)
  print("Livre 50% = R$",Livre50, "do ano = ", ANO)
  print("Livre 100% = R$",Livre100, "do ano = ", ANO)
  print("Econômia livre 50% = R$",Cativo-Livre50)
  print("Econômia livre 100% = R$",Cativo-Livre100)
  return Cativo, Livre50, Livre100

In [28]:
def TOTAL_CONTA_CATIVO_UC(dadosDF,Tarifa_total_P , Tarifa_total_FP, RetencaoFederal ):
  TUSD_FP=Tarifa_total_FP*0.22  #22% Dado da Concecionaria a ser atualizado
  TUSD_P=Tarifa_total_P*0.74    #74% Dado da Concecionaria a ser atualizado
  TE_FP=Tarifa_total_FP-TUSD_FP
  TE_P= Tarifa_total_P-TUSD_P
  dadosDF['Differença Demanda'] = dadosDF['DEMANDA_REGISTRADA_FP'] - dadosDF['DEMANDA_CONTRATADA_P']
  dadosDF['Valor Demanda'] = (dadosDF['DEMANDA_REGISTRADA_FP'] * dadosDF['TAR_TUSD_KW_FP']) +(dadosDF['Differença Demanda'] *-1* dadosDF['TAR_DEMANDA_FP_SEM ICMS'])
  dadosDF['Valor Consumo P+FP TUSD'] = (TUSD_FP*dadosDF['ENERGIA_FPONTA'])+(TUSD_P*dadosDF['ENERGIA_PONTA'])
  dadosDF['Valor Consumo TE'] = (TE_FP*dadosDF['ENERGIA_FPONTA'])+(TE_P*dadosDF['ENERGIA_PONTA'])
  dadosDF['Valor da conta no cativo'] = (dadosDF['Valor Demanda']+dadosDF['Valor Consumo P+FP TUSD']+dadosDF['Valor Consumo TE'])-((dadosDF['Valor Demanda']+dadosDF['Valor Consumo P+FP TUSD']+dadosDF['Valor Consumo TE'])*RetencaoFederal)
  dadosDF['Valor consumo TUSD_FP']= (TUSD_FP*dadosDF['ENERGIA_FPONTA'])
  dadosDF['Valor consumo TUSD_P']= (TUSD_P*dadosDF['ENERGIA_PONTA'])
  TOTAL_CONTA_CATIVO = dadosDF['Valor da conta no cativo'].sum()
  #dadosDF.head()
  return TOTAL_CONTA_CATIVO, dadosDF

In [29]:
UCs = [UC1, UC2, UC3, UC4]
Cativo = 0
lista_UCs = []
TUSD_Demanda_50parecela = 0
TUSD_Consumo_4855parecela = 0

for UC_E in UCs:
  dadosUC_E = UC_E[UC_E['ANO']==2019][['DEMANDA_CONTRATADA_P','DEMANDA_REGISTRADA_FP','TAR_TUSD_KW_FP', 'TAR_DEMANDA_FP_SEM ICMS', 'ENERGIA_FPONTA', 'ENERGIA_PONTA']].reset_index()
  del dadosUC_E['index']
  dadosUC_E = dadosUC_E.fillna(method='ffill')
  TOTAL_CONTA_CATIVO_UC_E, dadosUC_E = TOTAL_CONTA_CATIVO_UC(dadosUC_E,Tarifa_total_P=1.81318, Tarifa_total_FP = 0.40733, RetencaoFederal = 0.0620)
  lista_UCs.append(dadosUC_E)
  Cativo = TOTAL_CONTA_CATIVO_UC_E + Cativo
  TUSD_Demanda_50parecela = dadosUC_E['Valor Demanda']+TUSD_Demanda_50parecela
  TUSD_Consumo_4855parecela = dadosUC_E['Valor consumo TUSD_FP'] - (dadosUC_E['Valor consumo TUSD_FP'] * 0.4855 ) +  + TUSD_Consumo_4855parecela #TUSD consumo 48.55%
print(Cativo)
TUSD_Demanda_50parecela = TUSD_Demanda_50parecela * 0.5

1189467.218709028